<div class="bloque container">

    <div class="colors-container">
        <div class="mobile-item uno">
            <div class="informacion">
                <h2 class="modelo">FRUTA DE LA PASIÓN</h2>
                <p class="texto"> En 1963, el hijo de Pietro, Michele renueva Super crema con la intención de
                    comercializarlo en toda Europa. Su composición fue modificada y fue rebautizada como <span class="important_word">"Nutella"</span>. El primer
                    tarro de Nutella Ferrero salió de la fábrica en Alba el 20 de abril de 1964.
                </p>
                <small class="disponibilidad">Disponibilidad: Unos poquitos en tienda.</small>
            </div>
            <img class="img-colors" src="./img/chiaomi1.png" alt="">
        </div>

        <div class="mobile-item dos">
            <div class="informacion">
                <h2 class="modelo">TMNT</h2>
                <p class="texto">El
                    <span class="important_word">césped</span> es muy importante en muchas competiciones deportivas; cabría destacar aquellas que se celebran
                    en recintos abiertos, al aire libre. Particularmente el césped es el elemento utilizado en el deporte
                    más seguido del mundo, el fútbol; el césped natural es el elemento que se exige por parte de la FIFA
                    y la UEFA.
                </p>
                <small class="disponibilidad">Disponibilidad: Quedan unos cuantos.</small>
            </div>
            <img class="img-colors" src="./img/chiaomi2.png" alt="">
        </div>

        <div class="mobile-item tres">
            <div class="informacion">
                <h2 class="modelo">EMBALSE DE CÁDIZ</h2>
                <p class="texto">Saludos y bienvenidos a
                    <a href="https://cadizpedia.wikanda.es/wiki/Portada" target="_blank">Cadizpedia</a> . La idea de este proyecto es generar, basándose en el concepto wiki, la mayor fuente
                    de contenidos sobre el saber popular de Andalucia. Hay muchas personas que atesoran grandes conocimientos
                    sobre temas particulares andaluces: sus pueblos y ciudades, sus costumbres y leyendas, su arte, ciencia
                    e historia.
                </p>
                <small class="disponibilidad">Disponibilidad: Hay un par, pero no se donde los he dejado.</small>
            </div>
            <img class="img-colors" src="./img/chiaomi3.png" alt="">
        </div>
    </div>

    <div class="title-colors">
        <div>OFERTAS!!!</div>
    </div>
</div>