<div class="mobile-container ideal">


        <div class="ui-status empty">
                No hay ningín móvil.
        </div>
        <div class="ui-status error">
                Se ha producido un error al cargar la página.
        </div>
        <div class="ui-status loading">
                Cargando...
        </div>

        <div class="ui-status ideal">


                <div class="mobile ifhone">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/ifhone.png">
                                <img id="hidden" class="imagen" src="img/ifhone_back.png">
                        </a>
                        <div class="column">
                                <a href="detail.html"  target="_blank">
                                        <div class="modelo">IFhone X</div></a>
                                        <div class="precio">Unas tres criptomonedas</div>
                                
                        </div>
                </div>


                <div class="mobile motorhola">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/motorhola.png">
                                <img id="hidden" class="imagen" src="img/motorhola_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">
                                <div class="modelo">Motorhola iLF</div></a>
                                <div class="precio">600 créditos galácticos estandar</div>
                        </div>
                </div>

                <div class="mobile samsun">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/samsun.png">
                                <img id="hidden" class="imagen" src="img/samsun_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Samsun Galaxy</div></a>
                                <div class="precio">Dos cuerpos celestes y media materia cósmica </div>
                        </div>
                </div>

                <div class="mobile blackperry">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/blackperry.png">
                                <img id="hidden" class="imagen" src="img/blackperry_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">BlackPerry 4K</div></a>
                                <div class="precio">Diez Schrute Bucks</div>
                        </div>
                </div>

                <div class="mobile noquia">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/noquia.png">
                                <img id="hidden" class="imagen" src="img/noquia_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Noquia Vintage</div></a>
                                <div class="precio">La voluntad</div>
                        </div>
                </div>

                <div class="mobile alkatel">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/alkatel.png">
                                <img id="hidden" class="imagen" src="img/alkatel_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Alkatel Afterlife</div></a>
                                <div class="precio">Cuatro palos para varear olivos</div>
                        </div>
                </div>


                <div class="mobile chiaomi">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/chiaomi.png">
                                <img id="hidden" class="imagen" src="img/chiaomi_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Chiaomi Elektra</div></a>
                                <div class="precio">Cinco estrellitas ninja</div>
                        </div>
                </div>

                <div class="mobile zapatofono">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/zapatofono.png">
                                <img id="hidden" class="imagen" src="img/zapatofono_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Zapatófono i7</div></a>
                                <div class="precio">12 votos a UPyD</div>
                        </div>
                </div>

                <div class="mobile becu">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/becu.png">
                                <img id="hidden" class="imagen" src="img/becu_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Becú Aquarius</div></a>
                                <div class="precio">Tres tuppers de macarrones</div>
                        </div>
                </div>
                <div class="mobile iclassic">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/iclassic.png">
                                <img id="hidden" class="imagen" src="img/iclassic_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">iClassic</div></a>
                                <div class="precio">Precio</div>
                        </div>
                </div>

                <div class="mobile elege">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/elege.png">
                                <img id="hidden" class="imagen" src="img/elege_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Elegé 123</div></a>
                                <div class="precio">120 Rupias</div>
                        </div>
                </div>

                <div class="mobile vasophone">
                        <a href="detail.html"  target="_blank">
                                <img id="visible" class="imagen" src="img/vasophone.png">
                                <img id="hidden" class="imagen" src="img/vasophone_back.png">
                        </a>
                        <div class="column"><a href="detail.html"  target="_blank">

                                <div class="modelo">Vasophone 3000</div></a>
                                <div class="precio">27 almas de dragón anciano</div>
                        </div>
                </div>
        </div>

</div>