<form novalidate class="mobile-form">

    <div class="ui-status error">Se ha producido un error.</div>

    <div class="ui-status loading">Guardando...</div>

    <div class="ui-status ideal">

        <div id="visible">Sube tu móvil!</div>
        <div id="hidden">
            <div class="form-control-group">

                <label class="fontfam" for="modelo">Modelo</label>
                <input classtype="text" id="modelo" name="modelo" placeholder="Modelo" required>
            </div>
            <div class="form-control-group">
                <label class="fontfam" for="precio">Precio</label>
                <input type="text" id="precio" name="precio" placeholder="Precio" required>
            </div>
            <div class="form-control-group">
                <label class="fontfam" for="diseño_url">Diseño URL</label>
                <input type="url" id="diseño_url" name="diseño_url" placeholder="http://..." required>
            </div>
            <div class="form-control-group">
                <button>Guardar</button>
            </div>
        </div>
    </div>
</form>